body {
    font-family: 'Open Sans';
    cursor: default;
    min-width: 320px;
}

p { text-align: justify; }
a, a:hover { color: inherit; }

.flag {
	height: 15px;
	margin: 5px;
	vertical-align: sub;
}

.jumbotron {
    background-image: url(../img/uk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}